<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAMPLE WEB FORM - CHANGE THIS</title>
    <link rel="stylesheet" href="css/form.css" />
    <script src="js/form.js" defer></script>
  </head>
  <body>
    <h1>Sample Web Form - Change this and the page title</h1>
    <form id="webform">
      <label for="field1">FIELD 1</label>
      <input type="text" id="field1" name="field1" />
      <label for="field2">FIELD 2</label>
      <input type="text" id="field2" name="field2" />
      <label for="field3">FIELD 3</label>
      <input type="text" id="field3" name="field3" />
      <button type="submit" id="submitWebForm">SEND</button>
    </form>
  </body>
</html>
