<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAMPLE LISTING PAGE - CHANGE THIS</title>
    <link rel="stylesheet" href="css/form.css" />
    <script src="js/view.js" defer></script>
  </head>
  <body>
    <h1>Sample Listing Page - Change this and the page title</h1>
    <main id="viewFormData"></main>
  </body>
</html>
